@import '../../css/colors';

#talks .badge {
  margin: 20px 0px
}

#talks h2 {
  margin: 0px;

}

#talks h3.speakerName {
  color: $orange;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px; 

}

#talks .btn {
  padding: 5px 25px
}

@media screen and (max-width: 1199px) {
  #talks h3 {
    margin-top: 1.5em; } }

  .speakerName {
  color: $orange; }
