.jumbotron {
  height: 100vh;
  color: #fff;
  background-image: url('../../images/hero-image.JPG');
  background-position: center center;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}

.bannerContentWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  background-color: rgba(0,0,0,0.7);
}

.bannerContent {
  align-items: middle;
  text-align: center;
}

.bannerContent h1 {
  font-family: "Open Sans";
  font-size: 3em;
  font-weight: 400;
  text-transform: none;
}

.bannerContent h1 span {
  font-family: "Marydale";
  color: #EBB111;
  font-size: 1.5em;
}


@media screen and (max-width: 460px) {
  .bannerContent h1 {
    font-size: 2em; }
}