.footer {
  background-color: #353535;
  padding: 3em 0;
}

.footer .container {
  padding-top: 3em;
  padding-bottom: 1em;
  border-bottom: 1px solid #FFFFFF;
}

.footer > .container > p > a {
  color: #FFFFFF;
  font-size: 1.5em;
  font-family: 'Marydale', 'Open Sans',  sans-serif;
}

.footer > .container > p > a:hover,
.footer > .container > p > a:focus {
  color: #66CBB4;
  text-decoration: none;
}
