@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@font-face {
  font-family: "Marydale";
  src: url("marydale.eot?") format("eot"), url("marydale.woff") format("woff"), url("marydale.ttf") format("truetype"), url("marydale.svg#Marydale") format("svg"); }

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif; }

h1 {
  font-family: "Open Sans";
  font-size: 3rem;
  margin-bottom: 1em;
  text-transform: uppercase; }

h2 {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  color: #5D87A1; }

h3 {
  font-family: Helvetica;
  font-size: 24px;
  padding-bottom: 30px; }

h4 {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold; }

p {
  font-family: Helvetica;
  font-size: 14px;
  padding-bottom: 30px; }

.excellaEvent {
  font-family: Marydale, Arial, Helvetica, sans-serif; }
