#blog-posts h2.blog-title {
  margin: 0px;
}

#blog-posts h3.author {
  color: #D4711A;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 0px; 
}

#blog-posts .badge {
  margin: 20px 0px;
  position: absolute;
  bottom: 0
}


